<section class="hero" id="hero">
  <div class="hero__container">
    <div class="hero__content">
      <h1 class="hero__mainheading title-reset">Lorem ipsum <span class="hero__mainheading-color">dolor sit
          ametconsectetur</span> adipiscing</h1>
      <h2 class="hero__title title-reset">At vero eos et accusamus et iusto odio dignissimos ducimus!</h2>
      <ul class="hero__list list-reset">
        <li class="hero__item">Totam rem aperiam eaque ipsa</li>
        <li class="hero__item">Sit voluptatem accusantium doloremque laudantium</li>
        <li class="hero__item">Sed ut perspiciatis, unde omnis iste natus error</li>
      </ul>
      <ul class="hero__btn list-reset">
        <li class="hero__link ">
             <a class="link-reset" href="#" >заказать</a>
        </li>
        <li class="hero__link-white ">
          <a class="link-reset" href="#" target="_blank">подробнее</a>
        </li>
      </ul>
    </div>
  </div>

</section>
