// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // colors
  --color-white: #fff;
  --accent-color: #43ABF0;
  --active-color: #286690;
  --dark-color: rgba(16, 16, 29, 0.9);
  --color-black: #000;
  --color-btn: #3e9cdc;
  --color-gray: #6f6d7b;
  --color-temno-seryy: #2a2b30;
  --color-price: #272733;
  --color-pale-white: #bbb;
  --color-dote: #C4C4C4;
  --color-select: #42a9ed;
  --form-error-color: #F06666;
  --color-input: rgba(255, 255, 255, 0.85);
  --color-footer: #3d4050;
  --color-pay: #c3c3c3;
}
